.container {
    width: 100%;
    min-width: 450px; /* Fixed syntax */
    height: fit-content;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 120px;
    margin-bottom: 20px;
  }

  .logo img {
    width: 100%;
  }

  .form-container {
    border: 1px solid lightgray;
    width: 350px;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    padding: 20px;
  }

  .form-container h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    margin-bottom: 20px; /* Increased margin for spacing */
  }

  .input-container {
    width: 100%;
    margin-bottom: 15px; /* Space between input fields */
  }

  .input-container p {
    font-size: 17px; /* Adjusted font size */
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left; /* Ensure text is aligned to the left */
  }

  .input-container input {
    width: 100%; /* Full width of the container */
    height: 40px; /* Increased height for better usability */
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box; /* Ensure padding is included in the width */
    font-size: 16px;
    transition: border-color 0.3s;
  }

  .input-container input:hover {
    border-color: orange;
  }

  .button {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #f0c14b;
    color: #111;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 400;
    transition: background-color 0.3s;
  }

  .button:hover {
    background-color: #e3a814;
  }

  .info-text {
    font-size: 13px;
    width: 100%;
    word-wrap: normal;
    margin-top: 20px;
  }

  .info-text span {
    color: #426bc0;
  }

  .new-to-amazon-text {
    color: #333; /* Light black color */
    font-size: 14px;
    margin-bottom: none; /* Reduced margin for less space below */
    position: relative;
    padding-bottom: 5px;
  }

  .sign-up-button {
    width: 25%; /* Full width of the container */
    height: 40px; /* Increased height for better usability */
    margin-top: none;
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
  }
